body {
	text-align: left;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 92vh;
	background-image: url("img/simcity.jpg");
	background-size: 120% auto;
}

#container {
	background-color: black;
	position: relative;
	width: 180px;
	padding: 6px 0px 32px 34px;
}

h1 {
	color: red;
	font-family: monospace;
	font-weight: 300;
	font-size: 25px;
	padding-top: 0;
}

#wires {
	display: block;
	padding-top: 8px;
}

button {
	width: 145px;
	border: none;
	border-radius: 0;
	background-color: #3c3c3c;
	padding: 10px 0px;
	margin-top: 28px; margin-bottom: 2px;
	font-size: 15px;
	color: #9e9c9c;
	font-family: monospace;
	font-weight: 400;
	letter-spacing: 3px;
}